<!doctype html>
<html lang="en">
<head>
<body>
      <div id="page">
          <h1>{{ page.title }}</h1>
      </div>
      <div class=“aui-item api-docs”>
          <a href=“#” target=“_blank” class=“aui-button aui-button-link” title=“There are no API docs available” aria-disabled=“true”>API docs</a>
          <a href=“#” target=“_blank” class=“aui-button aui-button-link” title=“There are no code examples available” aria-disabled=“true”>Code</a>
      </div>
  </div>
  <div>
  <div>
      <ul>
      	<li class=“list-item”>
           	<a href=“#” target=“_blank” class=“aui-button aui-button-link” title=“There are no API docs available” aria-disabled=“true”>API docs</a>
      	</li>
	</ul>
  </div>
</body>
</html>
